body {
    background-color: #ffffff;
}

body h1 {color: #40aba4;
    text-align: center;
}

nav {
    background-color: #5e5e5e;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

@media screen and (max-width: 760px) {
    body {
        background-color: white;
    }
}